body {
    background: url(/img/background.png) no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.container.top-margin{
    margin-top: 32px;
}
.container.top-margin.top-margin-extra{
    margin-top: 96px;
}
.navbar-y.fixed:hover {
    opacity:1;
}
.navbar-y.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: .3;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.navbar-y{
    min-height:64px;
    background: black;
    position: relative;
}
.navbar-y::after{
    background: linear-gradient(-45deg, transparent 16px, black 0), linear-gradient(45deg, transparent 16px, black 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 17px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 0px;
}
.navbar-parent{
    padding-left:0px;
    padding-right:0px;
}
.navbar-y .menu-margin-top{
    margin-top: 20px;
}
.search{
    position: relative;
}
.search button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: transparent;
}
.search button:hover {
    background: black;
    color: white;
}

.menu {
    border: solid thin #d5c68a;
    border-radius: 8px;
}
.menu a {
    background: #d5c68a;
    border: transparent;
}
.menu a:hover,
.menu a:active,
.menu a:active:hover,
.menu a:focus,
.menu a.active,
.menu a.active:active:hover
{
    background: black!important;
    color: #d5c68a!important;
    border: transparent;
}

.navbar-y .btn-group>div:first-child>a, .navbar-y .btn-group>div:last-child>a {
    border-radius: 6px;
}

div#footer {
    background-color: #d5c68a;
    border-radius: 15px;
}

div#footer p {
    display: inline-block;
    padding: 15px;
    margin: 0;
    line-height: 20px;
}
#footer li.active>a,
#footer li>a:hover,
#footer li>a:focus,
#footer li>a:focus:hover
{
    background: #7b2e00;
    color: #d5c68a;
}

#footer li>a, #footer
p {
    color: #7b2e00;
}

hr {
    border-color: #000;
    margin-bottom: 50px;
    margin-top: 5px;
}

.main-content{
    min-height:700px;
}
.main-content .panel-heading {
    background-color: #d5c68a;
    border-color: #d5c68a;
    min-height: 30px;
}

.main-content .panel-body h3 {
    color: #7b2e00;
    margin-bottom:25px;
}
.main-content .panel-body {
    padding: 15px 10%;
}
.main-content .panel-body p {
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
}
.navbar-y h1 {
    color: white;
}
.main-content .btn.btn-default {
    background: #7b2e00;
    color: white;
}
.main-content .panel-body .row {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}